.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
.clients-list-link {
  transition-property: fill, border-color;
  transition-duration: var(--time-transition-duration);
  transition-timing-function: var(--timing-function);
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: var(--icon-symbol-color);
  &:hover,
  &:focus {
    fill: var(--theme-textcolor);
    border-color: var(--theme-textcolor);
  }
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  .clients-list-item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}
.clients-title {
  margin-bottom: 30px;
  @include font(700, 28px, 33px, 0.03em);
  text-align: center;
  color: var(--title-textcolor);
}
@media screen and(min-width: 480px) {
  .clients-list {
    margin: -15px;
    .clients-list-item {
      width: calc((100% - 6 * 15px) / 3);
      margin: 15px;
      // margin-top: 50px;
      // justify-content: space-between;
    }
  }
}
@media screen and(min-width: 768px) {
}
@media screen and(min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients-list {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .clients-title {
    margin-bottom: 50px;
  }
  .clients-title {
    margin-bottom: 30px;
    @include font(700, 36px, 42px, 0.03em);
    text-align: center;
    color: var(--title-textcolor);
  }
}

// .clients {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }
// .clients-title {
//   @include font(700, 36px, 42px, 0.03em);
//   text-align: center;
//   color: var(--title-textcolor);
// }
// .clients-list {
//   display: flex;
//   margin-top: 50px;
//   justify-content: space-between;
// }
// .clients-list-link {
//   transition-property: fill, border-color;
//   @extend %transition-order;
//   @extend %align;
//   justify-content: center;
//   width: 170px;
//   height: 92px;
//   border: 1px solid #afb1b8;
//   box-sizing: border-box;
//   border-radius: 4px;
//   fill: var(--icon-symbol-color);
//   &:hover,
//   &:focus {
//     fill: var(--theme-textcolor);
//     border-color: var(--theme-textcolor);
//   }
// }
