.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-section_logo {
  padding: 16px 0px;
  font-family: "Raleway";
  @include font(700, 24px, 28px, 0.03em);
  color: var(--theme-textcolor);
}
.nav-section_header-studio {
  color: var(--logo-black-textcolor);
}
@media screen and(max-width: 767px) {
  .nav-section_list,
  .contacts {
    display: none;
  }
}

@media screen and(min-width: $tablet) {
  .nav-section_logo {
    padding: 26px 0px;
  }
  .contacts_link,
  .nav-section_list,
  .nav-section,
  .menu .container {
    display: flex;
    align-items: center;
  }
  .menu .container {
    justify-content: space-between;
  }
  .menu {
    border-bottom: var(--line-color) solid 1px;
  }
  .nav-section_list {
    margin-left: 88px;
    .nav-section_link.current {
      color: var(--theme-textcolor);
    }
    .nav-section_item:not(:last-child) {
      margin-right: 50px;
    }
  }
  .nav-section_link {
    position: relative;
    padding: 32px 0px;
    color: var(--title-textcolor);
    &:hover,
    &:focus {
      color: var(--theme-textcolor);
    }
    &.current::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: #2196f3;
    }
  }
  .contacts_link {
    @include font(500, 14px, 16px, 0.02em);
    color: var(--paragraph-textcolor);
    &:hover,
    &:focus {
      color: var(--theme-textcolor);
    }
  }
  .contacts_icon-envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
  }
  .contacts_icon-smartphone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
  }
  .nav-section_link,
  .contacts_link {
    transition-property: color;
    transition-duration: var(--time-transition-duration);
    transition-timing-function: var(--timing-function);
    font-weight: 500;
  }
}
@media screen and (min-width: $tablet) and (max-width: 1199px) {
  .contacts_link {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media screen and(min-width: $desktop) {
  .nav-section_logo {
    @include font(700, 26px, 31px, 0.03em);
  }
  .contacts {
    display: flex;
  }
  .nav-section_list {
    margin-left: 93px;
  }
  .contacts_link {
    margin-left: 30px;
  }
}
