.contacts_link,
.contacts,
.nav-section_list,
.nav-section,
.menu .container {
  @extend %align;
}
.menu {
  border-bottom: var(--line-color) solid 1px;
}
.nav-section_logo {
  font-family: "Raleway";
  @include font(700, 26px, 31px, 0.03em);
  color: var(--theme-textcolor);
}
.nav-section_header-studio {
  color: var(--logo-black-textcolor);
}
.nav-section_list {
  margin-left: 93px;
  .nav-section_link.current {
    color: var(--theme-textcolor);
  }
  .nav-section_item:not(:last-child) {
    margin-right: 50px;
  }
}
.nav-section_link,
.contacts_link {
  transition-property: color;
  @extend %transition-order;
  font-weight: 500;
  padding: 32px 0px;
}
.nav-section_link {
  position: relative;
  color: var(--title-textcolor);
  &:hover,
  &:focus {
    color: var(--theme-textcolor);
  }
  &.current::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}
.contacts_link {
  @include font(500, 14px, 16px, 0.02em);
  color: var(--paragraph-textcolor);
  &:hover,
  &:focus {
    color: var(--theme-textcolor);
  }
}
.contacts {
  margin-left: auto;
  .contacts_item:not(:last-child) {
    margin-right: 50px;
  }
}
.contacts_icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.contacts_icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
