.methods {
  margin-top: 60px;
  @media screen and (min-width: $desktop) {
    margin-top: 94px;
  }
}
.methods_icon {
  width: 70px;
  height: 70px;
}
.methods_list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
    // margin-left: calc(-1 * var(--card-gap));
    padding: 0;
  }
}

.methods_item {
  @media screen and (min-width: $tablet) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;

    // flex-basis: 50%;
  }
  @media screen and (min-width: $desktop) {
    .methods_item {
      flex-basis: calc(100% / 4 - var(--card-gap));
      margin-left: var(--card-gap);
    }
  }
}
.methods_box {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background: var(--command-section-background-color);
  border-radius: 4px;
}
.methods_title {
  text-align: center;
  margin-top: 30px;
  @include font(700, 14px, 16px, 0.03em);
  text-transform: uppercase;
  color: var(--title-textcolor);
}
.methods_text {
  margin-top: 10px;
  @include font(400, 14px, 24px, 0.03em);
  color: var(--paragraph-textcolor);
}
.methods_text {
  @media screen and (max-width: 479px) {
    margin-bottom: 30px;
  }
}
