:root {
  --logo-black-textcolor: #000000;
  --title-textcolor: #212121;
  --paragraph-textcolor: #757575;
  --theme-textcolor: #2196f3;
  --hover-textcolor: #ffffff;
  --main-background-color: #2f303a;
  --command-section-background-color: #f5f4fa;
  --footer-contacts-textcolor: rgba(255, 255, 255, 0.6);
  --card-gap: 30px;
  --line-color: rgba(236, 236, 236, 1);
  --icon-symbol-color: rgba(175, 177, 184, 1);
  --time-transition-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --tasks-text-background: rgba(47, 48, 58, 0.8);
}
